<a href="https://colab.research.google.com/github/JavierHerreraPadilla/powerbi_sierracol/blob/main/ejercicios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ejercicio 1: Búsqueda por columna

Dado el siguiente DataFrame 'df' con datos de empleados:

Realiza las siguientes búsquedas:

a) Encuentra los empleados que trabajan en el departamento de "Ventas".

b) Encuentra la edad del empleado "Juan".

In [ ]:
data = {
    'Nombre': ['Ana', 'Juan', 'María', 'Pedro', 'Luis'],
    'Edad': [28, 35, 24, 41, 29],
    'Departamento': ['Ventas', 'Finanzas', 'Ventas', 'RRHH', 'Finanzas'],
}

Dado el mismo DataFrame 'df', realiza las siguientes búsquedas:

a) Muestra todas las filas donde la edad del empleado es mayor a 30.

b) Muestra todas las filas donde el nombre del empleado empieza con la letra "M".

Dado el mismo DataFrame 'df', realiza las siguientes selecciones de subconjuntos:

a) Selecciona solo la columna 'Nombre'.

b) Selecciona las filas donde el departamento sea 'Ventas' y solo las columnas 'Nombre' y 'Edad'.

Dado el siguiente DataFrame 'df' con algunos valores faltantes:

a) Encuentra todas las filas que contienen al menos un valor nulo.

b) Reemplaza los valores nulos en la columna 'B' por 0.

c) Elimina todas las filas que contienen valores nulos.

In [ ]:
data = {
    'A': [1, 2, None, 4, 5],
    'B': [None, 10, 20, None, 50],
    'C': [100, 200, 300, 400, None],
}

Dado el siguiente DataFrame 'df' con datos de ventas:

a) Agrega una nueva columna llamada 'Estado' donde se indique 'Alto' si las ventas son mayores o iguales a 150, y 'Bajo' en caso contrario.

In [ ]:
data = {
    'Producto': ['A', 'B', 'C', 'D', 'E'],
    'Ventas': [100, 150, 80, 200, 50],
}

a) Muestra las filas donde las ventas son mayores a 100 y el producto no es 'D'.

b) Muestra las filas donde las ventas son menores a 70 o el producto es 'A'.

Dado el siguiente DataFrame 'df' con datos de empleados:

a) Crea una nueva columna llamada 'Nivel' que indique 'Alto' si el salario es mayor o igual a 50000, 'Medio' si está entre 30000 y 49999, y 'Bajo' si es menor a 30000.

b) Reemplaza el nombre 'Luis' por 'Lucas' en el DataFrame.

In [ ]:
data = {
    'Nombre': ['Ana', 'Juan', 'María', 'Pedro', 'Luis'],
    'Edad': [28, 35, 24, 41, 29],
    'Salario': [40000, 55000, 32000, 60000, 45000],
}

Dado el siguiente DataFrame 'df' con datos de estudiantes:

a) Crea una nueva columna llamada 'Estado' donde se indique 'Aprobado' si el promedio es mayor o igual a 7.0, y 'Reprobado' en caso contrario.

b) Calcula el promedio general de todos los estudiantes aprobados y el promedio general de todos los estudiantes reprobados.

In [ ]:
data = {
    'Estudiante': ['Ana', 'Juan', 'María', 'Pedro', 'Luis'],
    'Promedio': [8.5, 7.8, 9.2, 6.5, 8.0],
}

### GROUP BY
Calcular el promedio de ventas para cada producto en cada región:
Encontrar el producto con mayores ventas totales y su región correspondiente:
Calcular la mediana de ventas para cada mes:
Obtener los tres productos con menores ventas en cada región:
Calcular el porcentaje de crecimiento de ventas respecto al mes anterior para cada producto y región

In [17]:
data = {
    'Producto': ['A', 'B', 'A', 'B', 'A', 'B', 'A', 'B'],
    'Region': ['Norte', 'Sur', 'Este', 'Oeste', 'Norte', 'Sur', 'Este', 'Oeste'],
    'Ventas': [100, 150, 200, 50, 300, 100, 120, 80]
}